#
# Copyright (c) .NET Foundation and contributors. All rights reserved.
# Licensed under the MIT license. See LICENSE file in the project root for full license information.
#

Source: dotnet-nightly
Maintainer: Microsoft <dotnetcore@microsoft.com>
Section: devel
Priority: standard
Standards-Version: 3.9.2
Build-Depends: debhelper (>=9)
Homepage: https://dotnet.github.io/core

Package: dotnet-nightly
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl1.0.0, clang-3.5, libcurl3
Conflicts: dotnet
Description: Unstable Developer Build of .NET Core & command line tools
 Unstable Developer Build of .NET Core is a cross-platform implementation of .NET Framework, a modern, modular platform
 for building diverse kinds of applications, from command-line applications to microservices and 
 modern websites.
 This package contains the tools you will need to start writing applications for .NET Core. It includes 
 compilers, package managers and other utilities that developers need.
